<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.profitcode.ketocalc">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiptsActivity"
            android:label="@string/title_activity_receipts"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.MainActivity" />
        </activity>
        <activity
            android:name=".DishesActivity"
            android:label="@string/title_activity_dishes"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.MainActivity" />
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.MainActivity" />
        </activity>
        <activity
            android:name=".ProductsSelectorActivity"
            android:label="@string/title_activity_products_selector">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.MainActivity" />
        </activity>
        <activity
            android:name=".ProductEditorActivity"
            android:label="@string/title_activity_product_editor"
            android:parentActivityName=".ProductsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.ProductsActivity" />
        </activity>
        <activity
            android:name=".ReceiptEditorActivity"
            android:label="@string/title_activity_receipt_editor"
            android:parentActivityName=".ReceiptsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.ReceiptsActivity" />
        </activity>
        <activity
            android:name=".DishEditorActivity"
            android:label="@string/title_activity_dish_editor"
            android:parentActivityName=".DishesActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalc.DishesActivity" />
        </activity>

        <provider
            android:name=".data.KetoProvider"
            android:authorities="ru.profitcode.ketocalc.data"
            android:exported="false" />

    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
</manifest>