<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.profitcode.ketocalcpropaid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor"
        android:name=".app.KetoCalcApp">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReceiptsActivity"
            android:label="@string/title_activity_receipts"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/receipts_searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.MainActivity" />
        </activity>
        <activity
            android:name=".DishesActivity"
            android:label="@string/title_activity_dishes"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/dishes_searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.MainActivity" />
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/products_searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.MainActivity" />
        </activity>
        <activity
            android:name=".ProductsSelectorActivity"
            android:label="@string/title_activity_products_selector"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/products_selector_searchable"/>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsEditorActivity"
            android:label="@string/title_activity_settings_editor"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.SettingsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.SettingsActivity" />
        </activity>
        <activity
            android:name=".ProductEditorActivity"
            android:label="@string/title_activity_product_editor"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.ProductsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.ProductsActivity" />
        </activity>
        <activity
            android:name=".ReceiptEditorActivity"
            android:label="@string/title_activity_receipt_editor"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.ReceiptsActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.ReceiptsActivity" />
        </activity>
        <activity
            android:name=".DishEditorActivity"
            android:label="@string/title_activity_dish_editor"
            android:parentActivityName="ru.profitcode.ketocalcpropaid.DishesActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.profitcode.ketocalcpropaid.DishesActivity" />
        </activity>

        <provider
            android:name=".data.KetoProvider"
            android:authorities="ru.profitcode.ketocalcpropaid.data"
            android:exported="false" />

    </application>

    <permission android:name="ru.profitcode.ketocalc.data.READ.PERMISSION"
        android:label="@string/ketoprovider_read_permission_label"
        android:description="@string/ketoprovider_read_permission_desc">
    </permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-permission android:name="ru.profitcode.ketocalc.data.READ.PERMISSION"/>
</manifest>